body {
	font-family: 'Nunito Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	background-color: #24292e;
	color: #d4d9de;
	line-height:1.5;
}
main {
	padding: 20px;
}
h1 {
	font-size: 1.25rem;
	font-weight: 800;
	text-transform: uppercase;
	padding-bottom: .25rem;
	border-bottom: 1px solid #54595e;
	margin-top:0;
	margin-bottom: 1.5rem;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}

/* Button */

.btn {
	display: inline-block;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.57143;
	padding:.6875rem 2rem;
	border:2px solid transparent;
	border-radius: 1.5625rem / 50%;
	text-decoration:none !important;
	white-space: normal;
}
@media (prefers-reduced-motion: reduce) {
.btn {
	transition: none;
}
}
.btn:hover {
	color: #212529;
	text-decoration: none;
}
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn-block {
	display: block;
	width: 100%;
}

.btn-primary {
	background-color:#007bbd;
	border-color: transparent;
	color:#fff;
}
.btn-primary:hover {
	background-color: #fff;
	border-color: #007bbd;
	color:#007bbd;
}
.btn-primary:focus {
	background-color: #fff;
	border-color: #007bbd;
	color:#007bbd;
	box-shadow: 0 0 0 .1875rem rgba(0,123,189,0.5) !important;
}