.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.h-100 {
    height: 100% !important;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    background-color: #24292e;
    color: #d4d9de;
    line-height: 1.5;
}
main {
    padding: 20px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #bacc4c;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
h2 {
    color: #bacc4c;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

/* Button */

.btn {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 0.6875rem 2rem;
    border: 1px solid transparent;
    border-radius: 1.5rem / 50%;
    text-decoration: none !important;
    white-space: normal;
    cursor: pointer;
}
.btn-sm {
    font-size: 0.875rem;
    line-height: 1.57143;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem / 50%;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}
.btn:hover {
    color: #212529;
    text-decoration: none;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}

/* Lime Green Button */

.btn-primary {
    background-color: #bacc4c;
    border-color: rgba(255, 255, 255, 0.5);
    color: #212529;
}
.btn-primary:hover {
    background-color: #dce5a5;
    border-color: #fff;
    color: #212529;
}
.btn-primary:focus {
    background-color: #dce5a5;
    border-color: #fff;
    color: #212529;
    box-shadow: 0 0 0 0.1875rem rgba(186, 204, 76, 0.5) !important;
}

/* Gray Button */

.btn-secondary {
    background-color: #292e33;
    border-color: rgba(255, 255, 255, 0.2);
    color: #d4d9de;
}
.btn-secondary:hover {
    background-color: #d4d9de;
    border-color: #fff;
    color: #212529;
}
.btn-secondary:focus {
    background-color: #d4d9de;
    border-color: #fff;
    color: #212529;
    box-shadow: 0 0 0 0.1875rem rgba(255, 255, 255, 0.33) !important;
}
